body {
    font-family: 'Roboto', sans-serif;
} 

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #ffff;
    border: 0; 
    font-size: bold;
    color: #007bff;
}  

.navbar a {
     text-decoration: none;
}

.navbar-logo {
    position: relative;
    margin-left: 25px;
  
}

<!-- envirocabs logo made in Wix.com-->

.Envirocabs-logo { background: url("../images/envirocabs-logo.jpg");    
    
}  

