body {
    font-family: 'Roboto', sans-serif;
} 


/* Navbar */


 .navbar {
    margin-bottom: 0%;
    width: 100%;
    background-color: #ffffff; 
    border: 0;
}  

.nav-link {
    color: #007bff;
    font-size: 18px;
    margin-left: 50px;
   
   
}




.navbar-brand {
    position: relative;
    margin-left: 8%;
    height: 1%;
}  
 



<!-- envirocabs logo made in Wix.com--> 


.Envirocabs-logo { background: url("../images/envirocabs-logo.jpg");    
    
}  

/* Hero image for home page from pexels.com */ 

.hero-image  {
    height: 90vh;

    background: url('../images/Hero\ image\ page\ 1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}  

       

/* Hero image for home page from Pexels.com */  


   /* Hero image button from Bootstrap */

.btn {
  display: block;
  width: 100%;
  border: none;
  font-weight: bold;
  border-radius: 23px;
  background-color: #04AA6D;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;


}

/* Hero image button from Bootstrap */  

/* Hero image for services page from unsplash */
     
   .hero-image-2 {

    height: 90vh;

    background: url('../images/hero-image-services.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

   
   } 

/* Hero image for services page from unsplash */ 

/* Hero image for driver page from unsplash */ 

.hero-image-3 {

    height: 90vh;

    background: url('../images/hero-image-test.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;  

    

   } 


/* Hero image for driver page from unsplash */ 

/* Hero image for safety page from pexels */ 

.hero-image-4 {

    height: 90vh;

    background: url('../images/hero-image-safety.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

   
   }  

   /* Hero image for safety page from pexels */ 

   
/* Hero image for our commitment page from unsplash */ 

.hero-image-5 {

    height: 90vh;

    background: url('../images/our-commitment-hero-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

   
   }  

   /* Hero image for our commitment page from pexels.com */ 

   /* Hero image for contact us page from pexels.com */ 

 .hero-image-6 {

    height: 100vh;

    background: url('../images/contact-us-hero-image\ .jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    
   }  

   /* Hero image for contact us page from pexels.com */ 
   
/* information page with icons */

.icons {
    text-align: center;
    margin-bottom: 40px;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 40px;
    color: #007bff; 
}

.icons i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

/* information page with icons */   

/* testimonial container and grid */  



.testimonial-container {
    text-align: center;
    margin-bottom: 10px;
    background-color: #007bff; 

    font-size: 45px;
    line-height: 45px;
    border-color: white;
    border-radius: 15px;
    width: 100%;
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
    
}  

.text-uppercase {

    font-weight: bold; 
    color: #007bff; 
    margin-bottom: 30px;
}

.blockquote {
    color: #007bff;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
    
}  





.home-page-image {
  
    height: 100%;
    max-height: 100%;
    width: auto;
   

    background: url('../images/home-page-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

   
    
}  


/* testimonial container and grid */ 

/* services container */ 
.container-services {

    font-weight: bold;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    width: fit-content;

}

.services-header {
    
    
    font-weight: bold;
    color: #007bff;
    margin-bottom: 40px;
    padding: 3%;
    padding-bottom: 0%;
   
}  

.services-text {
    padding: 3%;
    padding-top: 0%;
}


/* services container */ 
/* services grid from W3schools*/ 

.column {
  float: left;
  width: 50%;
  padding:50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
} 

.services-image-1 {
  
    height: 50vh;
    width: auto;
   

    background: url('../images/services-image-1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

   
    
}  



.services-image-2 { 

   
  
    height: 50vh;
    width: 90vh;
    max-width: 100%;

    background: url('../images/services-images-2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    

}  

.services-image-3 {
  
    height: 50vh;
    width: 90vh;
    max-width: 100%;

    background: url('../images/services-images-3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

 

}  

.services-image-4 {
  
    height: 60vh;
    width: 90vh;
    max-width: 100%;


    background: url('../images/services-images-4.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;


}  

#services-grid-header {
    padding: 2%;  
   
}

#services-grid-paragraph {
    padding: 2%;
}
/* services grid*/ 

/* drivers icon section*/

.fa-user-check {
    padding-left: 5%;
}


.fa-headset {
    padding-left: 5%;
}

#icon-text {
    padding-left: 8%;
}
 
#icons-text-a {
    padding-left:10%;
}
/* drivers icon section*/

/* drivers page grid*/

.drivers-image-1 {
  
    height: 50vh;
    width: 90vh;
    max-width: 100%;

    background: url('../images/drivers-image-1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   



}  

.driver-text {
    
    font-size: 115%; 
    color: #007bff;
    

}


/* drivers page grid*/  

/* safety page grid*/ 

.safety-image-1 {
  
    height: 50vh;
    width: 90vh;
    max-width: 100%;

    background: url('../images/safety-image-1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative; 

    

}  

.safety-text {
    font-weight: bold;
    font-size: 115%; 

}

/* safety page grid*/ 

/* safety icon section*/ 
#safety-icon-text { 
    padding-left: 5%;

} 

#safety-shield-icon-text {
    padding-left: 5%;
} 

.fa-spray-can {
    padding-left: 5%;
}

#spray-can-text {
    padding-left: 5%;
}

/* safety icon section*/ 

/* Our-commitment container*/ 


.commitment-header {
 
    font-weight: bold;
    color: #1ff354; 
    font-size: 115%; 
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
   
    
}  


/* Our-commitment container*/ 

/* Our-commitment grid table*/ 

.our-commitments-image-1 {
  
   
    height: 50vh;
    width: 90vh;
    max-width: 100%;

    background: url('../images/our-commitment-image=1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative; 

}  

.our-commitments-image-2 {
    
    
    height: 50vh;
    width: 90vh;
    max-width: 100%;

    background: url('../images/our-commitment-image-2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative; 

}  

.text-type   {

    
    color: #1ff354; 
    font-size: 115%;
  
}

/* Our-commitment grid table*/ 

/* contact us booking form*/ 

.contact-form {
    width: 100%; 
    flex: 100%;
    max-width: 100%;

}  

.column-booking {
    float: left;
    width: 100%;
    padding: 100px;
}


.book-button {
  
 
    width: 30%; 
    position: relative;
    top: 25px;
    left: 15px;
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;  
 
    
}

.contact {
    padding-top: 15px;
}

.make-booking {
  
    padding-bottom: 20px;
    color: #007bff; 
    
}
/* contact us booking form*/ 

/* contact us booking form*/ 

.booking-header {
    margin-top: 11%;
    color: #007bff; 
    padding-bottom: 30px;

}

.booking-paragraph-header {
    font-size: 18px;
    color: #007bff;
}

.booking-paragraph {

    font-size: 18px;
}  


/* contact us booking form*/ 




/* footer */ 


.footer {
    background-color: #ffff;
    height: 150px
}

.social-links {
    text-align: center;
    padding-left: 30%;
}

.social-links li {
    display: inline;
    
} 

.social-links i {
    font-size: 180%; 
    margin: 1%;
    padding: 2%;
    color: #007bff;
}  

.social-links a {
    text-decoration: none;
}

.follow-us {  
   font-size: 120%;  
   font-weight: bold;
   padding-right: 30%;
   color: #007bff;

}

.social footer {
    line-height: 150px;

}

.social li {
    display: inline;
    padding-left: 57%;
    font-size: 200%; 
    color: #007bff;
    
}  

.or {
    color: #007bff;
    display: inline;
    padding-left: 6%;
    padding-bottom: 100px;
    font-weight: bold;
} 

.block-divider {
    background:#007bff; 
    width: 102%; 
    max-width: 102%;
   
}


.download-header {
    font-size: 18px; 
    font-weight: bold;
    padding-left: 50%;
   margin-top: -6% ;
    color: #007bff;
   
}  

/* button from W3schools */ 

.button {
  border: none;
  color: #ffffff;
  background-color: #007bff;
  padding: 10px 25px;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  bottom: -5px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  
} 


/* button from W3schools */ 

/* footer */ 






