body {
    font-family: 'Roboto', sans-serif;
} 

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #ffff;
    border: 0; 
    font-size: bold;
    color: #007bff; 
}  

.navbar a {
     text-decoration: none;
}

.navbar-logo {
    position: relative;
    margin-left: 25px;
  
}

<!-- envirocabs logo made in Wix.com--> 


.Envirocabs-logo { background: url("../images/envirocabs-logo.jpg");    
    
}  


.hero-image  {
    height: 100vh;

    background: url('../images/Hero\ image\ page\ 1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}  

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}           

/* Hero image for services page from unsplash */


   /* Hero image button from Bootstrap */

.btn {
    font-weight: bold;
    border-radius: 23px;
    width: 200px; 
    position: relative;
    left: -500px;  
    top: -200px; 
    color: #ffffff;
    background-color:#007bff;
}

/* Hero image button from Bootstrap */

/* information page with icons */

.icons {
    text-align: center;
    margin-bottom: 40px;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 40px;
    color: #007bff; 
}

.icons i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

/* information page with icons */   

/* testimonial container */  

.container {
    text-align: left;
    margin-bottom: 10px;
    background-color: #007bff; 

    font-size: 45px;
    line-height: 45px;
    border-color: white;
    border-radius: 15px;
    width: 1200px;
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
    
}  

.text-uppercase {

    font-weight: bold;
    color: #007bff; 
    margin-bottom: 30px;
}

.blockquote {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
   margin-top: 15px;
    
}

/* testimonial container */ 






